<form class="new-post-form">
  <fieldset>
    <legend>New Post</legend>
    <div class="mb-3">
      <label for="new-post-title" class="form-label" >Title</label>
      <input type="text" class="form-control" name="new-post-content" id="new-post-title" placeholder="Sir new-post IV">
    </div>
    <div class="mb-3">
      <label for="new-post-content" class="form-label" >Content</label>
      <textarea class="form-control" name="new-post-content" id="new-post-content" rows="3" placeholder="Tell us how you really feel."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Post!</button>
  </fieldset>
</form>
<a href="/dashboard">Back</a>

<script src="/js/new.js"></script>